name: prebuilds
on: push

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build prebuilds
        uses: ./.github/actions/build
        env:
          JOBS: 3
      - name: Upload prebuilds
        uses: actions/upload-artifact@v3
        with:
          name: prebuilds
          path: prebuilds/

  build-other:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-2019]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - run: npm ci --ignore-scripts
      # Work around nodejs/node-gyp#2219 until we move away from prebuild
      - run: patch node_modules/node-gyp/gyp/pylib/gyp/input.py .github/node-gyp.patch
      - run: npm run build-prebuild
        env:
          JOBS: 3
      - run: npm run build-prebuild -- -a arm64
        if: runner.os == 'macOS'
        env:
          JOBS: 3
      - name: Upload prebuilds
        uses: actions/upload-artifact@v3
        with:
          name: prebuilds
          path: prebuilds/
